pandas
numpy
scikit-learn
xgboost
matplotlib
seaborn

snowflake-connector-python
snowflake-snowpark-python

sqlalchemy

dbt-core
dbt-snowflake

streamlit

python-dotenv

great-expectations

langchain
langgraph
openai

chromadb
tiktoken

plotly
