pandas==2.2.3
numpy==1.26.4
streamlit==1.41.1
xgboost
matplotlib
seaborn

snowflake-connector-python
snowflake-snowpark-python

sqlalchemy

dbt-core
dbt-snowflake

streamlit

python-dotenv

great-expectations

langchain
langgraph
openai

chromadb
tiktoken

plotly==5.24.1
